<!DOCTYPE html>
<html>
  <head>
    <title>FindaPet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class = "navbar navbar-expand-lg navbar-dark bg-primary">

      <a class="navbar-brand" href="#">FindaPet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class = "navbar-nav mr-auto">
      <li class="nav-item"><%= link_to 'Home', root_path, :class => "nav-link" %></li>

      <% if @current_user.present? %>

        <% if @current_user.isBreeder? %>
        <li class="nav-item"><%= link_to 'My Listings', listings_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Add a listing', new_listing_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'My Breeders', breeders_path, :class => "nav-link" %>

        <% else %>
        <li class="nav-item"><%= link_to 'View breeders', breeders_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'View listings', listings_path, :class => "nav-link" %></li>

        <% end %>
        
        <li class="nav-item"><%= link_to "Log out #{ @current_user.first_name }", login_path, :method => 'delete', :class => "nav-link" %></li>

      <% else %>

       <li class="nav-item"> <%= link_to 'View breeders', breeders_path, :class => "nav-link" %></li>
       <li class="nav-item"><%= link_to 'View listings', listings_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign up', new_user_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Sign in', login_path, :class => "nav-link" %></li>
      <% end %>
        </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </nav>
    <%= yield %>
    </div>
  </body>
</html>
